<head>
  <title>Sushi Hunt</title>
  <link rel="manifest" href="./manifest.json">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="stylesheets/main.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
</head>

<body class="results-screen">
  <div class="header">
    <div class="block container">
      <h4 class="h4 center">Sushi Hunt</h4>
      <h4 id="location" class="h4 placeholder"><span id="lat">Tap 'Detect' to find sushi nearby</span> <span id="long"></span></h4>
      <button id="submit">Detect<img src="images/detect.svg"></button>
    </div>
  </div>

  <div id="results" class="container">
    <div style="display:none" id="loader" class="loadSpin">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
      <path fill="#8a8a8a" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
        </path>
      </svg>
    </div>

    <div id="empty" class="fadeIn">
      <img src="images/empty.svg">
      <h1 class="h2">Got a sushi craving?<h1>
      <h4 class="h4">Find the best sushi restaurants<br> in your neighborhood</h4>
    </div>

    <div id="no-connection" style="display:none;" class="fadeIn">
      <img src="images/sad.svg">
      <h1 class="h2">You are not connected<h1>
      <h4 class="h4">Your lack of internet has gotten<br> between you and your sushi</h4>
    </div>

    <div id="no-location" style="display:none;" class="fadeIn">
      <img src="images/no-location.svg">
      <h1 class="h2">Can't find your location<h1>
      <h4 class="h4">Are you sure your location<br> service is switched on?</h4>
    </div>

    <div id="restaurants">



    </div>

  </div><!--result ends here here-->

</body>

<script src="javascripts/main.js"></script>
