<head>
  <title>Sushi Hunt</title>
  <link rel="manifest" href="./manifest.json">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="stylesheets/main.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
</head>

<body class="results-screen">
  <div class="header">
    <div class="block container">
      <h4 class="h4">Set your budget</h4>
      <p style="display:inline-block">AED</p>
      <input type="number" name="budget" autocomplete="off" pattern="[0-9]" placeholder="100, 200, etc.">
      <button id="submit">Hunt Now</button>
    </div>
  </div>

  <div id="results" class="container">
    <div style="display:none" id="loader">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
      <path fill="#8a8a8a" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
        </path>
      </svg>
    </div>

    <div id="empty">
      <img src="images/empty.svg">
      <h1 class="h2">Got a sushi craving?<h1>
      <h4 class="h4">Set your budget above to find<br> the best sushi restaurants</h4>
    </div>

    <div id="restaurants">

    </div>

  </div><!--result ends here here-->

</body>
<script src="https://code.jquery.com/jquery-3.0.0.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
<script src="javascripts/main2.js"></script>
