<head>
  <title>Sushi Hunt</title>
  <link rel="manifest" href="./manifest.json">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="stylesheets/main.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
</head>

<body>
  <div id="app"></div>
</body>

<script src="js/lib.js"></script>
<script src="js/main.js"></script>
