head
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(href="stylesheets/main.css", rel="stylesheet")

body.launch-screen
  div.hero
    h1 Sushi Hunt
    h3 Find the best sushi in your city
    img(src="images/sushi.svg").sushi
    form(id="form" method="POST" action="/results")
      label Enter Your Budget
      input(type="text" name="budget" placeholder="" required)
      input(type="submit" value="Hunt Now")

script(src="javascripts/main.js")
