<head>
  <title>Sushi Hunt</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="stylesheets/main.css" rel="stylesheet"/>
</head>
<body class="launch-screen">
  <div class="hero">
    <h1>Sushi Hunt</h1>
    <h3>Find the best sushi in your city</h3>
    <img src="images/sushi.svg" class="sushi"/>
    <form id="form" method="GET" action="/feed">
      <label>Enter Your Budget</label>
      <input type="text" name="budget" placeholder="" required="required"/>
      <input type="submit" value="Hunt Now"/>
    </form>
  </div>
</body>
<script src="javascripts/main2.js"></script>
