
<div id="empty" class="fadeIn">
    <img src="images/sad.svg">
    <h1 class="h2">No restaurants found!<h1>
    <h4 class="h4">Sorry, it looks like you are at the<br>wrong place at the wrong time</h4>
</div>
